<body class="bg-default">
  <head>
  
   <script src="https://www.google.com/recaptcha/api.js" async defer></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>

</head>
  <div class="main-content">
    <!-- Navbar -->
    <% include ../partials/auth/navbar %>
    <!-- Header -->
    <% include ../partials/auth/header %>
        <!-- Page content -->
    <div class="container mt--8 pb-5">
      <!-- Table -->
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-transparent pb-5">
              <div class="text-muted text-center mt-2 mb-4"><small>Sign up with</small></div>
              <div class="text-center">
                <a href="#" class="btn btn-neutral btn-icon mr-4">
                  <span class="btn-inner--icon"><img src="img/icons/common/github.svg"></span>
                  <span class="btn-inner--text">Github</span>
                </a>
                <a href="#" class="btn btn-neutral btn-icon">
                  <span class="btn-inner--icon"><img src="img/icons/common/google.svg"></span>
                  <span class="btn-inner--text">Google</span>
                </a>
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small>Or sign up with credentials</small>
              </div>
              <form id="Form" role="form" action="register" method="POST" onsubmit="return validateForm()">
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                    </div>
                    <input class="form-control" name="name" placeholder="Name" type="text" required>
                  </div>
                  <% if (locals.messages && messages.errors && messages.errors.name) { %>
                    <strong class="invalid-feedback" style="display: block"><%= messages.errors.name %></strong>
                  <% } %>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                    </div>
                    <input class="form-control" name="lastName" placeholder="LastName" type="text" required>
                  </div>
                  <% if (locals.messages && messages.errors && messages.errors.name) { %>
                    <strong class="invalid-feedback" style="display: block"><%= messages.errors.name %></strong>
                  <% } %>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                    </div>
                    <input class="form-control" name="userName" placeholder="Username" type="text" required>
                  </div>
                  <% if (locals.messages && messages.errors && messages.errors.username) { %>
                    <strong class="invalid-feedback" style="display: block"><%= messages.errors.username%></strong>
                  <% } %>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" name="email" placeholder="Email" type="email" required>
                  </div>
                  <% if (locals.messages && messages.errors && messages.errors.email) { %>
                    <strong class="invalid-feedback" style="display: block"><%= messages.errors.email %></strong>
                  <% } %>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <label for="password"></label>
                    <input class="form-control" name="password" placeholder="Password" id="password" type="password" onkeyup="passfunction()" required>
                  </div>
                  
                  <% if (locals.messages && messages.errors && messages.errors.password) { %>

                 
                    <strong class="invalid-feedback" style="display: block"><%= messages.errors.password %></strong>
                  <% } %>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" name="confirmpassword" placeholder="Password" type="password" id="confirmpassword" onkeyup="testpass()" required>
                  </div>
                  <% if (locals.messages && messages.errors && messages.errors.password) { %>

                    <strong class="invalid-feedback" style="display: block"><%= messages.errors.password %></strong>
                  <% } %>
                </div>
                <div class="text-muted font-italic">
                  <h5>Password must contain:</h5>
                  <h6 id="lengthh" class="invalid-password" >6 to 12 characters</h6>
                  <h6 id="capital" class="invalid-password" >At least 1 capital letter</h6>
                  
                </div>                <div class="row my-4">
                  <div class="col-12">
                    <div class="custom-control custom-control-alternative custom-checkbox">
                      <input class="custom-control-input" id="customCheckRegister" type="checkbox" required>
                      <label class="custom-control-label" for="customCheckRegister">
                        <span class="text-muted">I agree with the <a href="#!">Privacy Policy</a></span>
                      </label>
                    </div>
                  </div>
                </div>
                
                <% if (locals.messages && locals.messages.databaseError) { %>
                  <strong class="invalid-feedback" style="display: block"><%= messages.databaseError %></strong>
                <% } %>
                  <div class="g-recaptcha" align="center" data-sitekey="6LcU2owaAAAAAKJDpgEKrltSGfwMN_2Trj6RX8TO"></div>
                  <h6 id="match" class="invalid-password"> Passwords do not match</h6>
                <div class="text-center">
                  <button class="btn btn-primary mt-4">Create account</button>
                </div>
               
              </form>
          
            <script>
              var capital = document.getElementById("capital");
              var errFlag = false;
              var password= document.getElementById("password");
              var passwordconf= document.getElementById("confirmpassword");
              var match = document.getElementById("match");
              var lengthh= document.getElementById("lengthh")
              var upperCaseLetters = /[A-Z]/g;
              match.style.display="none";
              function validateForm() {
              
              var captcha=grecaptcha.getResponse();
              
              if(captcha == "") {
                swal("Please confirm captcha", {
          className: "red-bg",
  });   
                errFlag = true;
                
                }
              
              if(!errFlag) {
                return true;
              }else {
              return false;
              }
            }
            function passfunction()
            {
              match.style.display="none";
              if(password.value.length >= 6 && password.value.length <= 12) {
    lengthh.classList.remove("invalid-password");
    lengthh.classList.add("text-success");
  } else {
    lengthh.classList.remove("text-success");
    lengthh.classList.add("invalid-password");
    errFlag = true;

  }
if(password.value.match(upperCaseLetters)) {
    capital.classList.remove("invalid-password");
    capital.classList.add("text-success");
  } else {
    capital.classList.remove("text-success");
    capital.classList.add("invalid-password");
    errFlag = true;

  }
            }
  function testpass()
{                match.style.display="none";
  if(password.value != passwordconf.value )
  {
    match.style.display="block";
    errFlag = true;
  }
}
  
            </script>
       </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    
  <!-- Footer -->
  <% include ../partials/auth/footer %>

  <!-- Include scripts -->
  <% include ../partials/scripts %>
</body>
